<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ex</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <script src="/static/js/index.js"></script>
    <button type="submit"><a href="/av/login" id="gitLogin">Register or login by Github</a></button>
    <div>
        <p>hello</p>

        <p>
            <input type="text" id="url" value="https://trails-game.com/">
            <input type="button" onclick="loadPage()">
        </p>
        <h3>
            Loading page position
        </h3>
        <!--Ajax-->
        <iframe style="width:100%;height: 500px" id="iframePosition">
        </iframe>
    </div>
</body>

</html>